# These will be installed to the python 2 environment
numpy==1.16.4
requests
ipywidgets
pyvo
https://github.com/astropy/astroquery/archive/master.zip
scipy
matplotlib
astropy
Cython
h5py
dill
pandas
pyregion
photutils