# These will be installed to the python 2 environment
numpy
scipy
bottleneck
matplotlib
astropy
Cython
h5py
dill
pandas
pyregion
photutils
gvar
lsqfit
pp
https://github.com/thomasorb/orb/archive/master.zip
https://github.com/thomasorb/orcs/archive/master.zip